## Save data to the project and do some exploration if desired

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline

In [2]:
usin = 'https://covidtracking.com/api/us/daily.csv'
statesin = 'https://covidtracking.com/api/v1/states/current.csv'

usout = '../data/raw/covidtracking/us_historical.csv'
statesout = '../data/raw/covidtracking/states_historical.csv'

#### not going to merge in the numbers from the current day, but you can do so if you like

In [3]:
pd.read_csv('https://covidtracking.com/api/v1/us/current.csv')

,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,onVentilatorCumulative,recovered,hash,lastModified,death,hospitalized,total,totalTestResults,posNeg,notes
0,776215,3250357,4058,55672,83303,14752,2246,5567,214,54657,5c3c2440acd10a3080610203c750d6340407d656,4/21/2020,37570,83303,4030630,4026572,4026572,"NOTE: ""total"", ""posNeg"", ""hospitalized"" will b..."

In [4]:
pd.read_csv('https://covidtracking.com/api/v1/states/current.csv').head(2)

,state,positive,positiveScore,negativeScore,negativeRegularScore,commercialScore,grade,score,negative,pending,...,death,hospitalized,total,totalTestResults,posNeg,fips,dateModified,dateChecked,notes,hash
0,AK,321,1.0,1.0,1.0,1.0,A,4.0,9803,NaN,...,9.0,36.0,10124,10124,10124,2,2020-04-20T18:00:00Z,2020-04-20T18:17:00Z,"Please stop using the ""total"" field. Use ""tota...",e823271b095661adc50e7f229d7492a3df2ea389
1,AL,5078,1.0,1.0,0.0,1.0,B,3.0,40875,NaN,...,164.0,641.0,45953,45953,45953,1,2020-04-20T04:00:00Z,2020-04-21T03:17:00Z,"Please stop using the ""total"" field. Use ""tota...",f4116b03e42364ffdf39ec9dce56a5bbc76ccd9a

#### get historical numbers

In [5]:
df = pd.read_csv(usin)
dfs = pd.read_csv(statesin)

In [6]:
df.to_csv(usout)
dfs.to_csv(statesout)

#### brief exploration

In [7]:
df.head()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,death,hospitalized,total,totalTestResults,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
0,20200420,56,772524,3231027.0,4037.0,55509.0,82879.0,14691.0,2193.0,5567.0,...,37321,82879.0,4007588,4003551,4003551,1528.0,1998.0,114366.0,23321.0,137687.0
1,20200419,56,749203,3116661.0,11324.0,55490.0,80881.0,14548.0,2145.0,5603.0,...,35793,80881.0,3877188,3865864,3865864,1654.0,2042.0,140309.0,27021.0,167330.0
2,20200418,56,722182,2976352.0,9906.0,56554.0,78839.0,14788.0,2096.0,5729.0,...,34139,78839.0,3708440,3698534,3698534,1774.0,884.0,113379.0,27662.0,141041.0
3,20200417,56,694520,2862973.0,10889.0,57821.0,77955.0,14910.0,2052.0,6096.0,...,32365,77955.0,3568382,3557493,3557493,2069.0,3250.0,125169.0,31260.0,156429.0
4,20200416,56,663260,2737804.0,16927.0,58353.0,74705.0,15150.0,1834.0,5940.0,...,30296,74705.0,3417991,3401064,3401064,2136.0,5102.0,127705.0,30604.0,158309.0

In [8]:
df.describe()

,date,states,positive,negative,pending,hospitalizedCurrently,hospitalizedCumulative,inIcuCurrently,inIcuCumulative,onVentilatorCurrently,...,death,hospitalized,total,totalTestResults,posNeg,deathIncrease,hospitalizedIncrease,negativeIncrease,positiveIncrease,totalTestResultsIncrease
count,5.300000e+01,53.000000,53.000000,4.900000e+01,48.000000,30.000000,31.000000,26.000000,27.000000,27.000000,...,53.000000,31.000000,5.300000e+01,5.300000e+01,5.300000e+01,52.000000,52.000000,52.000000,52.000000,52.000000
mean,2.020035e+07,48.377358,210139.358491,9.662466e+05,19231.291667,32315.200000,39906.806452,9004.615385,986.111111,3242.851852,...,7849.716981,39906.806452,1.120879e+06,1.103462e+06,1.103462e+06,717.634615,1593.826923,62135.134615,14856.057692,76991.192308
std,5.217725e+01,16.724264,254864.656614,1.058266e+06,22764.650776,21028.826764,27054.129399,5207.372113,731.525452,2627.888546,...,11468.527552,27054.129399,1.307394e+06,1.303637e+06,1.303637e+06,824.905438,1614.729720,53474.722396,13052.554982,66170.212825
min,2.020023e+07,1.000000,9.000000,6.000000e+00,103.000000,112.000000,1964.000000,1299.000000,74.000000,167.000000,...,4.000000,1964.000000,9.000000e+00,9.000000e+00,9.000000e+00,1.000000,0.000000,0.000000,9.000000,9.000000
25%,2.020031e+07,51.000000,2221.000000,2.262400e+04,1690.000000,14268.250000,15006.000000,4055.250000,321.500000,534.000000,...,51.000000,15006.000000,1.093500e+04,1.026200e+04,1.026200e+04,7.500000,0.000000,3190.250000,679.250000,3851.500000
50%,2.020032e+07,56.000000,69508.000000,5.342490e+05,14502.000000,31134.500000,40223.000000,9903.500000,889.000000,4076.000000,...,931.000000,40223.000000,4.839340e+05,4.326990e+05,4.326990e+05,251.000000,1408.500000,70099.500000,14793.500000,85988.000000
75%,2.020041e+07,56.000000,394156.000000,1.788277e+06,17336.000000,52246.250000,61937.000000,14008.500000,1671.500000,5938.500000,...,12646.000000,61937.000000,2.089578e+06,2.073030e+06,2.073030e+06,1461.500000,2732.750000,109863.000000,27765.000000,138149.250000
max,2.020042e+07,56.000000,772524.000000,3.231027e+06,65709.000000,59239.000000,82879.000000,15150.000000,2193.000000,6168.000000,...,37321.000000,82879.000000,4.007588e+06,4.003551e+06,4.003551e+06,2492.000000,5102.000000,195732.000000,34550.000000,229268.000000